$("#edit-dialog").dialog( {
  autoOpen: true,
  height: 600,
  width: 600,
  modal: true,
  title: "Edit Account Info",
  buttons: {
    "Done": function() { alert("Done") }
  },
  open: function() {
    $(#edit-dialog).html("<%= escape_javascript(render('form'))
  }
});

