.page
  .page_header
    %h2 Sign Up
  .page_body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    = render "form"
    %ul#other_links
      %li
        Already have an account?
        %br
        = link_to "Sign in now", new_user_session_path
