%p 
  User: #{@user.name}

- unless @user.chips.empty?
  %h2 Chips
  - @user.chips.each do |chip|
    %ul= link_to chip.name, [:edit, @user, chip]

%p
= link_to "Create new chip", new_user_chip_path(@user)
