- javascript 'chips_pc'
:coffeescript
  class ChipsGrid extends cMoMGridObject

    grid_json_id:      -> 'chip.id'
    grid_json_url:     -> "/users/#{@user.id}/chips.json"
    grid_resource_url: -> "/users/#{@user.id}/chips"

    edit_link_formatter: (cellvalue, options, rowobject) =>
      '<a href=' + @.grid_resource_url() + '/' + rowobject.chip.id + '/edit>' + cellvalue + '</a>'

    job_status_formatter: (cellvalue, options, rowobject) =>
      status = cellvalue
      if (status == 'test_running')
        url = @.grid_resource_url() + '/' + rowobject.chip.id + '/test_job_msg?msg=finished'
        status += (' <a href=' + url + '>Finish Test</a>')
      status

    job_output_file_formatter: (cellvalue, options, rowobject) =>
      '<a href=' + cellvalue + '>' + cellvalue + '</a>'

    grid_data_model: =>
      [
        {
          formatter: @.edit_link_formatter
          name:  'chip.name', 
          label: 'Name', 
          index: 'name', 
          width: 150 
        }
        {
          formatter: @.job_status_formatter
          name:  'chip.job.status'
          label: 'Job Status'
          index: 'chip.job.status'
          width: 150
        }
        {
          formatter: @.job_output_file_formatter
          name:  'chip.job.output_file'
          label:    'Output File'
          sortable: false
          width:    150
        }
      ]

  jQuery ->
    window.grid_object = new ChipsGrid

.page
  .page_header
    %h2 Chips
  .page_body
    = link_to new_user_chip_path(@user), :class => "cmom-button cmom-button-icon-left ui-state-default ui-corner-all" do
      %span.ui-icon.ui-icon-circle-plus
      Create New Chip
    %br
    %br
    %br
    #grid_container
      %table#grid.scroll
      #grid_pager.scroll
