- if object.errors.any?
  #errorExplanation
    - if object.new_record?
      %h2 #{pluralize(object.errors.count, "error")} prevented this record from being created:
    - else
      %h2 #{pluralize(object.errors.count, "error")} prevented this record from being updated:
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
          
