#tabs
  %ul
    %li
      %a(href = "#signup_tab") Sign Up
    %li
      %a(href = "#signin_tab") Sign In
  #signup_tab
    = render :partial => "/devise/registrations/new" 
  #signin_tab
    = render "new"

:coffeescript
  jQuery -> 
    $("#tabs").tabs({selected: 1})

