/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
*/

@import "compass";
@import "compass/reset";
@import "compass/css3/transition";

@import "redmond";
@import "jqgrid";

@import "**/*.scss";

// by default all content should reach the edges of the browser window and setup defaults for
// background and text color 
body 
{
  background-image: url( asset_path( "body_bg.gif", image ));
  background-position: center top;
  background-repeat: repeat-y;
  height: 100%;
  margin: 0;
  padding: 0;
}

// setup main content area width and center horizontally, also setup default background color
#container {
  background-image: url( asset_path( "container_bg.gif", image ));
  background-position: center top;
  background-repeat: repeat-y;
  margin: 0 auto;
  overflow: auto;
  padding: 0 10px;
  width: 800px;
}

#main {
  padding: 10px;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* The error box */

.field_with_errors {
  border: 2px solid red;
}

.inline-errors {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}




