.page {
  background: white;
  border: 1px solid #BBBBBB;
  height: 100%;
  padding: 0;
  position: relative;
  -webkit-box-shadow: 3px 3px 4px #BBBBBB;
  -moz-box-shadow: 3px 3px 4px #BBBBBB;
  box-shadow: 3px 3px 4px #BBBBBB;

  td {
    text-align:left;
    vertical-align:top;
  }

  .page_header {
    background: #EDF3FE;
    margin: 0 0 5px 0;
    padding: 13px 15px;

    h1, h2, h3, h4, h5 {
      margin: 0;
  }

  }
  .page_body {
    padding: 15px 15px 15px 15px
  }
}
