// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "formtastic_base.scss";

#user_new {
  @include stack-form;

  float: left;
  overflow: hidden;
} 

#other_links {
  background: #F7F7F7;
  float: left;
  margin-left: 20px;
  
  li { margin-bottom: 20px; }
  li:last-child { margin-bottom: 0; }
}




